
.bttn-searchForm{
    border-radius: 10px;
    background-color: #650000;
    color: white;
    position: relative;
    margin-top: 15px;
    border-color: unset;
    width: 15%;
    margin: auto;
    text-align: center;
}

.form-nivCheck{
 width: 50%;
    margin: auto;
}

.head-title{
    display: flex;
    width: 100%;
    border-bottom-color: #242424;
    border-bottom-style: inset;
    align-content: space-around;
}

.info-mssg{
    background-color:#3C5C54 ;
    width: 75%;
    margin: auto;


}
.h1-cont-consulta{
    font-size: 2rem;
}


.h2-cont-consult{
color: white;
    text-align: center;
    margin: auto;
    font-weight: normal;
    font-size: 1.5rem;

}