.footer{
    position:static;
    bottom: 0;
    width: 100%;
    height: 472px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #13322B;

}
.contenido{
    height: 380px;
    width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logotipoMexico{
    display: flex;
    margin-right:10%;
}
.logotipo{
    height: 100px;
    width: 278px;
    position: static;
    left: 7.89%;
    right: 70.39%;
    top: 11.02%;
    bottom: 67.8%;

}

/*/ESTE ES SPAN de los titulos/*/
.titulos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

/*/AQUI VA LA PARTE DE ENLACES/*/
.enlaces{
    width: 300px;
}
.links{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}
/*AQUI VA LA PARTE DE ¿QUE ES GOB.MX?*/
.duda{
    width: 340px;
}
.info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.informacion{
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*/AQUI VA EL SIGUENOS Y LAS ICONOS DE REDES SOCIALES/*/
.RedesSociales{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}
.siguenos{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

/*Rediseño del CSS*/
.container-footer{
    height: 14rem;
    background-color: #13322B;
}
.div-footer{
    height: 14rem;
}
#Foto-Logo{
    margin-top: 2rem;
    width: 28.9rem;
    height: 10.4rem;
}
/*.title-enlaces{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2.36727rem;
    line-height: 2.9rem;
    color: #FFFFFF;
}
.links{
    display: flex;
    flex-direction: column;
    height: 20rem;
}
.link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1.18364rem;
    line-height: 1.4rem;
}
.title-quees{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.81626rem;
    line-height: 2.5rem;
    color: #FFFFFF;
}
.subtitle-quees{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-transform: capitalize;
    color: #FFFFFF;
}*/
.title-siguenos{
    margin-top: 3rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}
.iconos{
    display: flex;
    flex-direction: row;
}
.icons{
    width: 3rem;
    height: 3rem;
}

/*Tablet*/
@media only screen and (max-width:768px){
    #Foto-Logo{
        height: 5.4rem;
        width: 18.9rem;
    }
    .title-siguenos{
        font-size: 1.5rem;
        line-height: 0rem;
    }

}
/*Movil*/
@media only screen and (max-width: 600px) {
    #Foto-Logo{
        margin-top: 4rem;
        height: 5.4rem;
        width: 18.9rem;
    }
    .title-siguenos{
        margin-top: 5rem;
        font-size: 1.5rem;
        line-height: 0rem;
    }

}

