.HeaderWorker{
    width: 100%;
}
.greenPartHeader{
    width: 100%;
    background-color: #13322B;
    display:flex;
}
.cerrarSesion{
    margin-top: 1%;
    margin-bottom: 1%;
    border: #13322B;
    border-radius: 4%;
    font-size: 60%;
    margin-left: 1.5%;
}
.GobiernoIcon{
    width: 10%;
    height: 10%;
}
.InicioS{
    width: 2.5%;
    height: 2%;
    margin-top: 0.5%;
}
.navegar{
    margin-top: 10px;
    width: 45%;
    margin-left: 35%;
}
.navegar li{
    display: inline;
    margin-left:  15%;
    list-style:none;

}
.navegar li a{
    text-decoration: none;
    color:aliceblue; 
    font-family: 'Montserrat';
    font-size: 16px;
}

.userconter{
    width: 100%;
    display:flex;
}
.hola{
    width: 50%; 
    margin-top: 3%;
}
.hola .saludo{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight:bold;
    margin-left: 30%;
}
.hola .nombre{
    font-family: 'Montserrat';
    margin-top: -3%;
    font-size: 17px;
    margin-left: 35%;
}
.Perfil{
    margin-left: 20%;
    width: 12%;
    margin-top: 2%;
}
.Pregunta{
    padding-left: 10%;
    font-family: 'Montserrat';
    font-weight:bold;
    font-size: 30px;
}
.Opciones{
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 10px;
    display:flex;
}
.Home{
    width: 2.5%;
    height: 2.5%;
    margin-left: 3%;
    margin-top: 0.5%;
}
.Acciones{
    width:70%;
}
.Acciones li{
    display: inline;
    margin-left:  10%;
    list-style:none;
}
.Acciones li a{
    text-decoration: none;
    color:#000000;
    font-family: 'Montserrat';
    font-size: 17px;
}
